<BsNavbar
  @type="dark"
  @backgroundColor="dark"
  as |navbar|
>
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        Ember.js
      </div>
    </div>
  </div>
</BsNavbar>