<div class="container">
{{showModal}}
  <div class="mb-3">
    <LinkTo
      @route="posts.create"
      class="btn btn-success"
    >
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Create article
    </LinkTo>
  </div>
  <div class="row">
    {{#each model as |post|}}
      <div class="mb-3 col-12 col-md-6 col-lg-4">
        <PostItem @post={{post}}>
          <PostControls
            @post={{post}}
            @onDelete={{action "deletePost" post.id}}
          ></PostControls>
        </PostItem>
      </div>
    {{/each}}
  </div>
</div>